

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

body{
    font-family: 'Roboto', sans-serif;
    padding: 4rem 0;
    background-color: rgb(135, 241, 241);

}

.container{
    margin: auto;
    width: 32%;
    /* border: 1px solid #ddd; */
    border-radius: 1rem;
    background-color: white;
    padding:0.9rem;
    box-shadow: 1px 1px 2px black;
}

.form-wrap{
    margin: 0.9rem;
}

.form-wrap h2{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1.4rem;
}

label{
    display: block;
    margin-bottom: 0.4rem;
}
input{
    display: block;
    width: 99%;
    padding:0.4rem;
    border:none;
    border-bottom: 1px solid #ddd;

}

input:focus{
    outline: none;
}
.form-item{
    margin-bottom: 0.9rem;
}

.form{
    position: relative;
}
button{
    font-size: 1.2rem;
    padding:0.4rem;
    position: relative;
    margin-top: 1rem;
    left:26%;
    border:none;
    width:50%;
    background-color: rgb(18, 20, 20);
    color:white;
    outline: none;

}

button:hover{
    outline: none;
    background-color: rgb(165, 168, 168);
    color:rgb(24, 18, 18);
}




@media(max-width: 930px){

    .container {
    width:71%;
  }